<div class="stat-container"
     *ngFor="let stat of stats$ | async">
  <p>{{ stat.ruleIndex | ruleText:stat.ruleVersion | async }}</p>

  <div class="graph"
       [ngStyle]="stat.style">
    <div class="line green"
         [attr.title]="stat.percentages.succeeded | percentage:stat.totals.succeeded">
      <p class="stat-number green" *ngIf="stat.totals.succeeded > 0">{{ stat.totals.succeeded }}</p>
    </div>    

    <div class="line yellow"
         [attr.title]="stat.percentages.attempted | percentage:stat.totals.attempted">
      <p class="stat-number yellow" *ngIf="stat.totals.attempted > 0">{{ stat.totals.attempted }}</p>
    </div>

    <div class="line gray"
         [attr.title]="stat.percentages.missed | percentage:stat.totals.missed">
      <p class="stat-number gray" *ngIf="stat.totals.missed > 0">{{ stat.totals.missed }}</p>
    </div>
  </div>
</div>