.fill-screen {
  min-height: 100%;

  display: grid;
  grid-auto-flow: row;
  grid-template-rows: max-content max-content 1fr max-content;
}

.header {
  text-align: center;
}

.container {
  max-width: 600px;
  margin: auto;
  height: 100%;
  width: 100%;
}

.inner-container {
  margin: 0 2rem;
}
