.rule-container {
  display: grid;
  grid-template-columns: auto minmax(1rem, 1fr) max-content;

  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.check-box {
  width: 3rem;
  height: 3rem;

  border-radius: 2px;
}

.check-box:hover {
  cursor: pointer;
}

.check-box.in-progress {
  background-color: var(--gray);
}

.check-box.attempted {
  animation: yellow-resize ease-out .2s;
  background-color: var(--yellow);
}

.check-box.succeeded {
  animation: green-resize ease-out .2s;
  background-color: var(--green);
}

.rule-text {
  margin: 0;
  /* text-align: right; */
}

.line {
  height: 2px;
  background-color: var(--light-gray);
  border-radius: 4px;
}

@keyframes green-resize {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes yellow-resize {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}