.rule-container {
  display: grid;
  grid-template-columns: auto minmax(1rem, 1fr) max-content;

  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.check-box {
  width: 3rem;
  height: 3rem;

  border-radius: 2px;

  background-color: black;
}

.check-box.in-progress {
  background-color: var(--gray);
}

.check-box.attempted {
  background-color: var(--yellow);
}

.check-box.succeeded {
  background-color: var(--green);
}

.rule-text {
  margin: 0;
  /* text-align: right; */
}

.line {
  height: 2px;
  background-color: var(--light-gray);
}